* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #0FFAFA, #fff);
    text-align: center;
    min-height: 100vh;
}
main {
    display: inline-block;
    padding: 20px;
    margin-top: 5px;
    position: relative;
}
.pokedex {
    width: 100%;
    max-width: 420px;
}
.pokemon_image {
    position: absolute;
    bottom: 50%;
    right: 37%;
    transform: translate(-15%, 0);
    width: 23%;
}
.pokemon_infos {
    position: absolute;
    bottom: 41%;
    right: 25%;
    color: #aaa;
    font-size: clamp(8px,5vw,25px);
}
.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}
.types_display {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
    border: 2px solid #333;
    border-radius: 5px;
    width: 17%;
    height: 5vh;
    left: 62%;
    bottom: 28%;
}
.types_img {
    padding: 2px;
    width: 70px;
    height: 30px;
}
.form {
    position: absolute;
    background-color: #000;
    width: 65%;
    bottom: 20%;
    left: 14%;
}
.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    background-color: #e3e3e3;
    border-radius: 5px;
    color: #3a444d;
    font-size: clamp(8px,5vw,1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}
.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px,5vw,1rem);
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}